/*
// @import './sub.scss';
// 内部引用 scss ，注意 webpack.config.js 里面的配置
*/
body{
  background:yellow;
    .size{
        width:200px;
        height:200px;
        transform: translate(50px, 200px);
        display: flex;
    }
}
